
.about_us_body {
  font-family: 'Permanent Marker', cursive;
}

.welcome_body {
  font-family: 'Josefin Sans', sans-serif;
}

.faq_body {
  font-family: 'Permanent Marker', cursive;
}

.feedback_body {
  font-family: 'Permanent Marker', cursive;
}

.generate_body {
  font-family: 'Marcellus SC',w serif;
}

.main_body {
  font-family: 'Rye', cursive;
}

h2 {
  color: black;
}

#title_boarder {
  padding: 10px;
  background-color: #254558;
}

#title {
  margin: 10px;
  border: 10px;
  background-color: #c7e8ff;
  text-align: center;
}

.title {

}
