.about_us_body {
  font-family: 'Permanent Marker', cursive;
}

.welcome_body {
  font-family: 'Josefin Sans', sans-serif;
}

.faq_body {
  margin: 0px;
  font-family: 'Permanent Marker', cursive;
}

.feedback_body {
  font-family: 'Permanent Marker', cursive;
}

.generate_body {
  font-family: 'Marcellus SC',w serif;
}

.main_body {
  margin: 0px;
  font-family: 'Rye', cursive;
}

#welcome_name {
  color: black;
  text-align: center;
  margin-top: 2.5px;
  text-shadow: 2px 2px 2px rgb(25, 25, 25, 0.4);
}

#title_border {
  margin: 0px;
  height: 20%;
  background-color: #254558;
  position: relative;
}

#title {
  text-align: center;
  --padding: 2% 35% 2% 35%;
  padding: var(--padding);
  background-clip: content-box;
  background-color: #254558;
  line-height: 10%;
}

#title_border_radius {
  border: 2px solid #c7e8ff;
  --padding: 2% 0 2% 0;
  padding: var(--padding);
  border-radius: 20px;
  background-color: #c7e8ff;
  text-align: center;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  border-left: 10px solid grey;
  display: flex;
  flex-flow: row wrap;
  background-color: grey;
}
.navigation, .nav {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.nav {
  position: absolute;
  right: 30px;
}
.nav_direct {
  margin-left: 15px;
}

.ClickableArea{
  border: 1px solid rgb(255, 255, 255, 0.7);
  background-color: rgb(255, 255, 255, 0.7);
  color: black;
  width: 85px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  border-radius: 10%;
  box-shadow: 1px 1px 1px 1px black;
}

.ClickableAreaForm {
  text-align: center;
  padding-top: 1%;
}

#welcomeTODO {
  text-align: center;
  font-size: 75px;
  margin-top: 15%;
  margin-bottom: 0px;
  text-shadow: 2px 2px 2px rgb(25, 25, 25, 0.5);
}

#welcomeSeparator {
  text-align: center;
  height: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 40%;
  margin-right: 40%;
  border: 1px solid black;
  border-radius: 25%;
  box-shadow: 2px 2px 2px rgb(25, 25, 25, 0.5);
}
