
.about_us_body {
  font-family: 'Permanent Marker', cursive;
}

.welcome_body {
  font-family: 'Josefin Sans', sans-serif;
}

.faq_body {
  margin: 0px;
  font-family: 'Permanent Marker', cursive;
}

.feedback_body {
  font-family: 'Permanent Marker', cursive;
}

.generate_body {
  font-family: 'Marcellus SC',w serif;
}

.main_body {
  font-family: 'Rye', cursive;
}

h2 {
  color: black;
}

#title_border {
  margin: 0px;
  height: 20%;
  background-color: #254558;
  position: relative;
}

#title {
  text-align: center;
  background-clip: content-box;
  --padding: 2% 35% 2% 35%;
  padding: var(--padding);
  background-color: #c7e8ff;
  line-height: 10%;
}


.title {

}
