<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <title>TODO</title>
  </head>
  <body class = "faq_body">
    <div id = "title_border">
      <div id = "title">
        <div id = "title_border_radius">
          <h2 id = "titleTOD">Truth or Dare</h2>
          <h5 id = "titleOnline">online</h5>
        </div>
      </div>
    </div>

    <!--Everything else here-->

    <footer id = "faqFooter">
      <h5 id = "website_name">TODO generator</h5>
      <div class = "nav2">
        <div class = "navigation">
          <form class = "nav" id = "navFAQ">
            <input type = "submit" value = "FAQ" class = "nav_direct"> 
          </form>
          <form class = "nav">
            <input type = "submit" value = "Feedback" class = "nav_direct">
          </form>
          <form class = "nav">
            <input type = "submit" value = "About Us" class = "nav_direct">
          </form>
        </div>
    </div>
    </footer>
  </body>
</html>
