<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>

    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>

    <title>TODO</title>
  </head>
  <body class = "faq_body">
    <div id = "title_border">
      <div id = "title">
        <div id = "title_border_radius">
          <h2 id = "titleTOD">Truth or Dare</h2>
          <h5 id = "titleOnline">online</h5>
        </div>
      </div>
    </div>

    <!--Everything else here-->
    <div id = "About_us_title">
      About Us
    </div>

    <div class = "members">
      <div class = "card" id = "Zhi_Qi">
        <div class = "picture" id = "Z_pic">
          <img class = "pic" id = "Z_pic_two" src="https://i.imgur.com/h5VZy3A.jpg" alt="">
        </div>
        <div class = "back" id = "Z_story">
          <h5 class = "aboutUsName"> Zhi Qi <h5>
          <h6 class = "aboutUsDescription"> Currently a student in National Junior College </h6>
        </div>
      </div>

      <div class = "card" id = "Riddhi">
        <div class = "picture" id = "R_pic">
          <img class = "pic" id = "R_pic_two" src = "https://imgur.com/KMtF2si.jpg">
        </div>
        <div class = "back" id = "R_story">
          <h5 class = "aboutUsName"> Riddhi <h5>
          <h6 class = "aboutUsDescription"> Currently a student in Singapore Polytechnic </h6>
        </div>
      </div>

      <div class = "card" id = "Jun_Kang">
        <div class = "picture" id = "J_pic">
          <img class = "pic" id = "J_pic_two" src = "https://i.imgur.com/HxsUBuw.jpg">
        </div>
        <div class = "back" id = "J_story">
          <h4 class = "aboutUsName"> Jun Kang <h4>
          <h6 class = "aboutUsDescription"> Currently a student in Jurong Pioneer Junior College </h6>
        </div>
      </div>
    </div>

    <div class = "contact_us">
      <div class = "card2" id = "Zhi_Qi">
        <div class = "email" id = "email_us">
          <img class = "pic2" id = "pic_email" src="https://static1.squarespace.com/static/5148aa1de4b016fef442df9a/t/5a86191d08522937b63959bf/1518737697516/contact+us-02.jpg"
           alt="">
        </div>
        <div class = "back2" id = "email_item">
          <h5> Riddhi: <h5>
          <h6> sririddhi@gmail.com </h6>
          <h5> Zhi Qi: <h5>
          <h6> lizhiqi36@gmail.com </h6>
          <h5> Jun Kang <h5>
          <h6> 2poh.junkang@gmail.com </h6>
        </div>
      </div>

      <div class = "card" id = "Riddhi">
        <div class = "follow" id = "follow_us">
          <img class = "pic2" id = "pic_follow" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJyTn0TcXOOhp63qfmDsUDc6doZmRpN9WUD2ws8-Tgho-9VmJW6w">
        </div>
        <div class = "back2" id = "follow_item">
          <h5> Riddhi: <h5>
          <h6> @ridz1123 </h6>
          <h5> Zhi Qi: <h5>
          <h6> @xmas.lzq </h6>
          <h5> Jun Kang <h5>
          <h6> (no have) </h6>
        </div>
      </div>
    </div>
    <!---->
    <footer id = "faqFooter">
      <form action = "/main" method = "get" id = "website_name_form">
        <input type = "submit" id = "website_name" value = "TODO generator">
      </form>
      <div class = "nav2">
        <div class = "navigation">
          <form class = "nav" id = "navFAQ" action = "/faq" method = "get">
            <input type = "submit" value = "FAQ" class = "nav_direct">
          </form>
          <form class = "nav" action = "/feedback" method = "get">
            <input type = "submit" value = "Feedback" class = "nav_direct">
          </form>
          <form class = "nav" action = "/about" method = "get">
            <input type = "submit" value = "About Us" class = "nav_direct">
          </form>
        </div>
      </div>
    </footer>

    <script src="../style/animate.js" charset="utf-8"></script>
  </body>
</html>
