<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>

    <title>TODO</title>
  </head>
  <body class = "faq_body">
    <div id = "title_border">
      <div id = "title">
        <div id = "title_border_radius">
          <h2>Truth Or Dare</h2>
          <h5>online</h5>
        </div>
      </div>
    </div>

    <div id = "faq_body">
      <div id = "faq_title">
        FAQ
      </div>
      <br>
      <!--FAQ-->
      <div>
        <fieldset class = "QandA">
          <div class = "Question">
            <h4>
              Question: How do we start the genreator?
            </h4>
          </div>
          <div class = "Answer">
            <h4>
              Answer: Press the TODO generator at the bottom.
            </h4>
          </div>
        </fieldset>
        <br>
        <fieldset class = "QandA">
          <div class = "Question">
            <h4>
              Question: Why this website?
            </h4>
          </div>
          <div class = "Answer">
            <h4>
              Answer: we created this website to enable different groups of people come together and have a good time playing truth or dare.
            </h4>
          </div>
        </fieldset>
        <br>
        <fieldset class = "QandA">
          <div class = "Question">
            <h4>
              Question: Who can play this game?
            </h4>
          </div>
          <div class = "Answer">
            <h4>
              Answer: People of any ages
            </h4>
          </div>
        </fieldset>
      </div>

    <button type="button"></button>ffff

    <button type="button"></button>ffff
    <h1> test </h1>

    <footer>
      <div class = "navigation">
        <h5 id = "website_name"> TODO generator </h5>
        <ul class="nav">
          <li class = "nav_direct"><a href="#faq.html">FAQ</a></li>
          <li class = "nav_direct"><a href="#feedback.html">Feedback</a></li>
          <li class = "nav_direct"><a href="#">About Us</a></li>
        </ul>
    </footer>


    <script src="../style/animate.js" charset="utf-8"></script>
  </body>
</html>
