<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>

    <title>TODO</title>
  </head>
  <body class = "faq_body">
    <div id = "title_border">
      <div id = "title">
        <div id = "title_border_radius">
          <h2 id = "titleTOD">Truth or Dare</h2>
          <h5 id = "titleOnline">online</h5>
        </div>
      </div>
    </div>

    <div id = "faq_body">
      <div id = "faq_title">
        FAQ
      </div>
      <br>
      <!--FAQ-->
      <div>
        <fieldset class = "QandA">
          <div class = "Question">
            <h4 class = "QnAText">
              Q: How do we go back to the generator?
            </h4>
          </div>
          <!--for the line-->
          <div class = "Answer">
            <div class = "FAQSeparator"></div>
            <h4 class = "QnAText">
              A: Press the TODO generator at the bottom.
            </h4>
          </div>
        </fieldset>
        <br>
        <fieldset class = "QandA">
          <div class = "Question">
            <h4 class = "QnAText">
              Q: Why this website?
            </h4>
          </div>
          <div class = "Answer">
              <div class = "FAQSeparator"></div>
            <h4 class = "QnAText">
              A: We created this website to enable different groups of people come together and have a good time playing truth or dare with age specific questions in mind
            </h4>
          </div>
        </fieldset>
        <br>
        <fieldset class = "QandA">
          <div class = "Question">
            <h4 class = "QnAText">
              Q: Who can play this game?
            </h4>
          </div>
          <div class = "Answer">
              <div class = "FAQSeparator"></div>
            <h4 class = "QnAText">
              A: People of any ages
            </h4>
          </div>
        </fieldset>
      </div>

    <footer id = "faqFooter">
      <h5 id = "website_name">TODO generator</h5>
      <div class = "nav2">
        <div class = "navigation">
          <form class = "nav" id = "navFAQ" action = "/faq" method = "get">
            <input type = "submit" value = "FAQ" class = "nav_direct">
          </form>
          <form class = "nav" action = "/feedback" method = "get">
            <input type = "submit" value = "Feedback" class = "nav_direct">
          </form>
          <form class = "nav" action = "/about" method = "get">
            <input type = "submit" value = "About Us" class = "nav_direct">
          </form>
        </div>
      </div>
    </footer>


    <script src="../style/animate.js" charset="utf-8"></script>
  </body>
</html>
