<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <title>TODO</title>
  </head>
  <body class = "faq_body">
    <div id = "title_border">
      <div id = "title">
        <div id = "title_border_radius">
          <h2>Truth Or dare</h2>
          <h5>online</h5>
        </div>
      </div>
    </div>

    <button type="button"></button>ffff

    <button type="button"></button>ffff
    <h1> test </h1>

    <footer>
      <div class = "navigation">
        <h5 id = "website_name"> TODO generator </h5>
        <ul class="nav">
          <li class = "nav_direct"><a href="#faq.html">FAQ</a></li>
          <li class = "nav_direct"><a href="#feedback.html">Feedback</a></li>
          <li class = "nav_direct"><a href="#">About Us</a></li>
        </ul>
    </footer>
  </body>
</html>
