<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <title>TODO</title>
  </head>
  <body class = "feedback_body">
    <div id = "title_border">
      <div id = "title">
        <div id = "title_border_radius">
          <h2 id = "titleTOD">Truth or Dare</h2>
          <h5 id = "titleOnline">online</h5>
        </div>
      </div>
    </div>
    
    <!--Everything else here-->

    <div id = feedback>
     <h2> Feedback </h2>
    </div>
    <div id = feedback_response>
    <textarea id = "feedbackName" placeholder = "Name.." maxlength = "200"></textarea>
    <textarea id = "feedbackComment" placeholder = "Comments.."></textarea>
    </div>
    <form id= "submit_feedback" method = "get" action = "/main">
      <button id = "submit_button" type="submit" onclick="alert('Thank you for your feedback! Have a nice day :)')">SUBMIT</button>
    </form>

    <footer id = "faqFooter">
      <form action = "/main" method = "get" id = "website_name_form">
        <input type = "submit" id = "website_name" value = "TODO generator">
      </form>
      <div class = "nav2">
        <div class = "navigation">
          <form class = "nav" id = "navFAQ" action = "/faq" method = "get">
            <input type = "submit" value = "FAQ" class = "nav_direct">
          </form>
          <form class = "nav" action = "/feedback" method = "get">
            <input type = "submit" value = "Feedback" class = "nav_direct">
          </form>
          <form class = "nav" action = "/about" method = "get">
            <input type = "submit" value = "About Us" class = "nav_direct">
          </form>
        </div>
      </div>
    </footer>
  </body>
</html>
