<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <title>TODO</title>
  </head>
  <body class = "faq_body">
    <div id = "title_border">
      <div id = "title">
        <div id = "title_border_radius">
          <h2 id = "titleTOD">Truth or Dare</h2>
          <h5 id = "titleOnline">online</h5>
        </div>
      </div>
    </div>

    <!--Everything else here-->
    <div class = "About_us_body2">
      <div id = "before_and_after">
        <div id = "before">
          <div id = "name_before">
              {{randomName}}
            <br>
            <button type = "button"  class = "change_me" id="True"> Truth </button>
            <button type = "button"  class = "change_me" id="Dare"> Dare </button>
          </div>
        </div>

        <div id = "after">
          <div id = "name_after">
            {{randomName}}
          </div>
          <div id = "True_dare">
            <div id = "Question">
              <div id = "Question_border">
                <h2 id = "Question_type"> <!--Truth or Dare-->
                  Truth
                </h2>
                <h5 class = "Question_TD" id = "Question_TD_D"> <!--Question-->
                  {{dares[range(0, dares|length) | random]}}
                </h5>
                <h5 class = "Question_TD" id = "Question_TD_T"> <!--Question-->
                  {{truth[range(0, dares|length) | random]}}
                </h5>
              </div>
            </div>
          </div>
          <form method = "get" action = "/generate">
            <button type = "submit" id="Gen_another"> Generate Another! </button>
          </form>
          <br>
          <h4 id = "Or"> Or.... </h4>
          <form method = "get" action = "/main">
            <button type = "submit" id="New_game"> New TOD game </button>
          </form>

        </div>
      </div>
    </div>
    <!---->
    <footer id = "faqFooter">
      <form action = "/main" method = "get" id = "website_name_form">
        <input type = "submit" id = "website_name" value = "TODO generator">
      </form>
      <div class = "nav2">
        <div class = "navigation">
          <form class = "nav" id = "navFAQ" action = "/faq" method = "get">
            <input type = "submit" value = "FAQ" class = "nav_direct">
          </form>
          <form class = "nav" action = "/feedback" method = "get">
            <input type = "submit" value = "Feedback" class = "nav_direct">
          </form>
          <form class = "nav" action = "/about" method = "get">
            <input type = "submit" value = "About Us" class = "nav_direct">
          </form>
        </div>
      </div>
    </footer>

    <script src="../style/animate.js" charset="utf-8"></script>
  </body>
</html>
