<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset = "utf-8">
    <link href = "https://fonts.googleapis.com/css?family=Permanent+Marker" rel = "stylesheet">
    <link href = "https://fonts.googleapis.com/css?family=Rye&display=swap" rel = "stylesheet">
    <link href = "https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel = "stylesheet">
    <link rel = "stylesheet" href = "../style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src = "modules/main.js"></script>
    <title>TODO</title>
  </head>
  <body class = "faq_body">
    <!-- Header Start -->
    <div id = "title_border">
      <div id = "title">
        <div id = "title_border_radius">
          <h2 id = "titleTOD">Truth or Dare</h2>
          <h5 id = "titleOnline">online</h5>
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!--Everything else here-->
    <!-- Start of Filters -->
    <div id="filter" class = "main_body">
      <div id = "mainFilter">
        <div id = "mainFilterWord">
          Filters
        </div>
        <div class= "age">
          <strong>Age group:</strong>
          <form class = "checkboxesForm">
            <input type = "checkbox" id = "age1"><a class = "checkboxes">&lt12</a>
            <input type = "checkbox" id = "age2"><a class = "checkboxes">12 ~ 18</a>
            <input type = "checkbox" id = "age3"><a class = "checkboxes">19 ~ 30</a>
            <input type = "checkbox" id = "age4"><a class = "checkboxes">31 ~ 45</a>
            <input type = "checkbox" id = "age5"><a class = "checkboxes">46 ~ 65</a>
            <input type = "checkbox" id = "age6"><a class = "checkboxes">&gt65</a>
          </form>
        </div>
        <div class="restrictions">
          <strong>Restrictions:</strong>
          <form class = "checkboxesForm">
            <input type = "checkbox" id = "r1"><a class = "checkboxes">PG</a>
            <input type = "checkbox" id = "r2"><a class = "checkboxes">Mature</a>
            <input type = "checkbox" id = "r3"><a class = "checkboxes">Adult</a>
          </form>
        </div>
      </div>
      <!--End of Filters-->
      <!-- Start of Players -->
      <div id = "mainPlayer">
        <div id = "newPlayer"> <!-- Used for JavaScript Append -->
          <div id = "mainFilterWord">
            Players
          </div>
          <form class = "checkboxesForm">
            <input type = "text" class = "mainText" placeholder = "Player Name..." name = "a00">
            <input type = "text" class = "mainText2" placeholder = "Age" name = "a01">
          </form>
          <!-- <br>
          <form class = "checkboxesForm">
            <input type = "text" class = "mainText" placeholder = "Player Name..." name = "">
            <input type = "text" class = "mainText2" placeholder = "Age" name = "">
          </form> --> <!-- Use comment region for JavaScript append, name is <index><input no. (0/1)> -->
        </div>
        <form class = "checkboxesAdd">
          <input type = "button" class = "mainAdd" value = "+"> <!-- Add button -->
        </form>
      </div>
    </div>
    <!-- End of Players -->
    <div style = "padding-bottom:135px"></div> <!-- For Scrolling -->

    <!-- Start of Play button -->
    <div>
      <form class = "mainGenerate" onsubmit = "onPlayClick(); return false;" method = "post"><!-- method = "post" action = "/generate" -->
        <input type = "submit" value = "PLAY" id = "mainGenerateButton">
      </form>
    </div>
    <!-- End of Play button -->

    <!-- Footer -->
    <footer id = "faqFooter">
      <h5 id = "website_name">TODO generator</h5>
      <div class = "nav2">
        <div class = "navigation">
          <form class = "nav" id = "navFAQ" action = "/faq" method = "get">
            <input type = "submit" value = "FAQ" class = "nav_direct">
          </form>
          <form class = "nav" action = "/feedback" method = "get">
            <input type = "submit" value = "Feedback" class = "nav_direct">
          </form>
          <form class = "nav" action = "/about" method = "get">
            <input type = "submit" value = "About Us" class = "nav_direct">
          </form>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
  </body>
</html>
