<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <title>welcome page</title>
  </head>
  <body background="https://i.pinimg.com/originals/89/af/21/89af21e25df7c55387921fe716633de6.jpg" height:100% class = "welcome_body">
    <div id ="welcome_name">
      <h1><center>TODO</center></h1>
      <h2 id="welcome_name"><center>Truth or Dare Online</center></h2>
      <div class="ClickableArea" id="GoButton">
      GO!
      </div>
    </div>
  </body>
</html>
