<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <title>welcome page</title>
  </head>
  <body background = "images/welcome/bg.jpg" class = "welcome_body">

    <h1 id = "welcomeTODO">TODO</h1>
    <div id = "welcomeSeparator"></div>
    <h2 id = "welcome_name">Truth or Dare Online</h2>
    <form class = "ClickableAreaForm" method = "get" action = "/main" name = "welcomeSubmit">
      <input class = "ClickableArea" id = "GoButton" type = "submit" width = "100px" value = "GO!"></input>
    </form>
  </body>
</html>
